<!-- Footer -->
<footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mb-4">Services</h5>
                <p>
                    <mdb-icon fas icon="arrow-right"></mdb-icon>
                    About VCG</p>
                <p>
                    <mdb-icon fas icon="arrow-right"></mdb-icon>
                    ISO Certification</p>
                <p>
                    <mdb-icon fas icon="arrow-right"></mdb-icon>
                    Consultancy</p>
                <p>
                    <mdb-icon fas icon="arrow-right"></mdb-icon>
                    API Certification</p>
                <p>
                    <mdb-icon fas icon="arrow-right"></mdb-icon>
                    Training</p>
                <p>
                    <mdb-icon fas icon="arrow-right"></mdb-icon>
                    Contact</p>
                <p>
                    <mdb-icon fas icon="arrow-right"></mdb-icon>
                    Blog</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Contact details -->
                <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <mdb-icon fas icon="home" class="mr-3"></mdb-icon> P.O. Box. No. 113949, Dubai - United Arab Emirates.
                        </p>
                    </li>
                    <li>
                        <p>
                            <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> contact@vegascg.com
                        </p>
                    </li>
                    <li>
                        <p>
                            <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> +971 52 777 3484
                        </p>
                    </li>
                    <li>
                        <p>
                            <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> +91 99401 78882
                        </p>
                    </li>
                    <li>
                        <!-- Social buttons -->
                        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

                        <!-- Facebook -->
                        <a mdbBtn floating="true" type="button" color="btn-fb" mdbWavesEffect>
                            <mdb-icon fab icon="facebook"></mdb-icon>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- Twitter -->
                        <a type="button" mdbBtn floating="true" color="btn-tw" mdbWavesEffect>
                            <mdb-icon fab icon="twitter"></mdb-icon>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- Google +-->
                        <a type="button" mdbBtn floating="true" color="btn-gplus" mdbWavesEffect>
                            <mdb-icon fab fab icon="google-plus"></mdb-icon>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mb-4">Quick Contact</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            Name :<input type="text" class="form-control">
                        </p>
                    </li>
                    <li>
                        <p>
                            City :<input type="text" class="form-control">
                        </p>
                    </li>
                    <li>
                        <p>
                            Company :<input type="text" class="form-control">
                        </p>
                    </li>
                    <li>
                        <p>
                            Tel/Mob :<input type="text" class="form-control">
                        </p>
                    </li>
                    <li>
                        <p>
                            Email ID :<input type="text" class="form-control">
                        </p>
                    </li>
                    <li>
                        <p><label>Require :</label> <select value="" class="form-control">
                                <option value="API Spec Q1">API Spec Q1</option>
                                <option value="API Spec Q2">API Spec Q2</option>
                                <option value="API Monogram">API Monogram</option>
                                <option value="ISO 9001">ISO 9001</option>
                                <option value="ISO 14001">ISO 14001</option>
                                <option value="OHSAS 18001">OHSAS 18001</option>
                                <option value="ISO 20121">ISO 20121</option>
                                <option value="ISO 50001">ISO 50001</option>
                                <option value="ISO 39001">ISO 39001</option>
                                <option value="ISO/IEC 20000-1">ISO/IEC 20000-1</option>
                                <option value="ISO 27001">ISO 27001</option>
                                <option value="AS 9100D">AS 9100D</option>
                                <option value="IATF 16949">IATF 16949</option>
                                <option value="Other Standards">Other Standards</option>
                            </select> </p>
                    </li>
                    <li><button class="form-control" mdbBtn color="success" style="font-size: x-large;">Submit</button></li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">

    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->