<div class="container">
    <div class="row">
        <div class="col-4">
            <mdb-card>
                <!--Card image-->
                <mdb-card-img src="assets/images/iso_certification.jpg" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>

                    <!--Title-->
                    <mdb-card-title>
                        <h4>Want To Get ISO Certified?</h4>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text> Talk to our experts to know what certification your organisation need.
                    </mdb-card-text>

                    <a href="#" mdbBtn color="primary" mdbWavesEffect>Know More</a>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-4">
            <mdb-card>
                <!--Card image-->
                <mdb-card-img src="assets/images/API.jpg" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>

                    <!--Title-->
                    <mdb-card-title>
                        <h4>API Quality Management</h4>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text>For more than a decade we are pioneer specializing in Oil and Gas industry.
                    </mdb-card-text>

                    <a href="#" mdbBtn color="primary" mdbWavesEffect>Know More</a>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-4">
            <mdb-card>
                <!--Card image-->
                <mdb-card-img src="assets/images/API_program.jpg" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>

                    <!--Title-->
                    <mdb-card-title>
                        <h4>API Monogram License</h4>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text>Vegas Consulting helps your organization achieve API Monogram certification.
                    </mdb-card-text>

                    <a href="#" mdbBtn color="primary" mdbWavesEffect>Know More</a>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <mdb-card>
                <!--Card image-->
                <mdb-card-img src="assets/images/API-Program2.jpg" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>

                    <!--Title-->
                    <mdb-card-title>
                        <h4>We Impart Skills</h4>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text>Vegas ATIC help organisation to convert risk into opportunities through our training .
                    </mdb-card-text>

                    <a href="#" mdbBtn color="primary" mdbWavesEffect>Know More</a>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-sm-4">
            <mdb-card>
                <!--Card image-->
                <mdb-card-img src="assets/images/ATIC.jpg" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>

                    <!--Title-->
                    <mdb-card-title>
                        <h4>ATIC Solutions</h4>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text>ATIC – Assurance, Testing, Inspection & Consultancy needs at single source. </mdb-card-text>

                    <a href="#" mdbBtn color="primary" mdbWavesEffect>Know More</a>
                </mdb-card-body>
            </mdb-card>
        </div>

        <div class="col-sm-4">
            <mdb-card>
                <!--Card image-->
                <mdb-card-img src="assets/images/Web.jpg" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>

                    <!--Title-->
                    <mdb-card-title>
                        <h4>Web-Based QMS Software</h4>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text>Manage & track your quality management system in a single application.
                    </mdb-card-text>

                    <a href="#" mdbBtn color="primary" mdbWavesEffect>Know More</a>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>
<app-services></app-services>
<router-outlet></router-outlet>