<div class="container" style="margin-top: 25px;">
    <div class="row">
        <div class="col">
            <mdb-card style="height: 50%;background-color:#75F59A;color:white">
                <!--Card content-->
                <mdb-card-body>

                    <!--Title-->
                    <mdb-card-title>
                        <h2>WHAT DO YOU WANT TO DO?</h2>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text>
                        <tabs>
                            <tab tabTitle="For Organisation">
                                <h4 style="color: white;font-family: Arial, Helvetica, sans-serif;">GROW A QUALITY CULTURE</h4>
                                <table mdbTable borderless="true">
                                    <tbody>
                                        <tr mdbTableCol>
                                            <th scope="row" style="color:blue;font-size: large;">API CERTIFICATION</th>
                                            <td></td>
                                            <td style="color:blue;font-size: large;">ISO CERTIFICATION</td>
                                            <td></td>
                                        </tr>
                                        <tr mdbTableCol>
                                            <th scope="row" style="color:blue;font-size: large;">API SPEC Q1</th>
                                            <td></td>
                                            <td style="color:blue;font-size: large;">ABOUT US</td>
                                            <td></td>
                                        </tr>
                                        <tr mdbTableCol>
                                            <th scope="row" style="color:blue;font-size: large;">API SPEC Q2</th>
                                            <td></td>
                                            <td style="color:blue;font-size: large;">CONSULTANCY</td>
                                            <td></td>
                                        </tr>
                                        <tr mdbTableCol>
                                            <th scope="row" style="color:blue;font-size: large;">API MONOGRAM</th>
                                            <td></td>
                                            <td style="color:blue;font-size: large;">TRAINING</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </tab>
                            <tab tabTitle="For Individual">
                                <h4 style="color: white;font-family: Arial, Helvetica, sans-serif;">GROW A QUALITY CULTURE</h4>
                                <table mdbTable borderless="true">
                                    <tbody>
                                        <tr mdbTableCol>
                                            <th scope="row" style="color:blue;font-size: large;">API CERTIFICATION</th>
                                            <td></td>
                                            <td style="color:blue;font-size: large;">ISO CERTIFICATION</td>
                                            <td></td>
                                        </tr>
                                        <tr mdbTableCol>
                                            <th scope="row" style="color:blue;font-size: large;">API SPEC Q1</th>
                                            <td></td>
                                            <td style="color:blue;font-size: large;">ABOUT US</td>
                                            <td></td>
                                        </tr>
                                        <tr mdbTableCol>
                                            <th scope="row" style="color:blue;font-size: large;">API SPEC Q2</th>
                                            <td></td>
                                            <td style="color:blue;font-size: large;">CONSULTANCY</td>
                                            <td></td>
                                        </tr>
                                        <tr mdbTableCol>
                                            <th scope="row" style="color:blue;font-size: large;">API MONOGRAM</th>
                                            <td></td>
                                            <td style="color:blue;font-size: large;"> TRAINING</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </tab>
                        </tabs>
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col">
            <mdb-card style="width:800px;background-color: #75F59A;">
                <!--Card content-->
                <mdb-card-body>

                    <!--Title-->
                    <mdb-card-title>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text>
                        <tabs>
                            <tab tabTitle="UPCOMING COURSE">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h5 style="color:blue;"><a>API Spec Q1 Fundamentals Course – 2.5 Days</a></h5>
                                        <h5>Jun 22 – Jun 24, 2020</h5>
                                        <h5> Dubai, UAE</h5>

                                        <button type="button" mdbBtn color="success" mdbWavesEffect style="margin-left: 500px;margin-top: -60px;">Keep Reading</button>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 style="color:blue;"><a>API Spec Q1 Practitioner Course – 4 Days</a></h5>
                                        <h5>Jun 22 – Jun 25, 2020</h5>
                                        <h5> Dubai, UAE</h5>

                                        <button type="button" mdbBtn color="success" mdbWavesEffect style="margin-left: 500px;margin-top: -60px;">Keep Reading</button>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 style="color:blue;"><a>API Spec Q2 Fundamentals Course – 2.5 Days</a></h5>
                                        <h5>Jun 29 – Jul 01, 2020</h5>
                                        <h5> Dubai, UAE</h5>
                                        <button type="button" mdbBtn color="success" mdbWavesEffect style="margin-left: 500px;margin-top: -60px;">Keep Reading</button>

                                    </li>
                                    <li class="list-group-item">
                                        <h5 style="color:blue;"><a>API Spec Q2 Practitioner Course – 4 Days</a></h5>
                                        <h5>Jun 29 – Jul 02, 2020</h5>
                                        <h5> Dubai, UAE</h5>
                                        <button type="button" mdbBtn color="success" mdbWavesEffect style="margin-left: 500px;margin-top: -60px;">Keep Reading</button>

                                    </li>
                                    <li class="list-group-item">
                                        <h5 style="color:blue;"><a>API 510 Preparatory Course – Pressure Vessel Inspector Certification – 7 Days</a></h5>
                                        <h5>Jun 20 – Jun 26, 2020</h5>
                                        <h5> Dubai, UAE</h5>
                                        <button type="button" mdbBtn color="success" mdbWavesEffect style="margin-left: 500px;margin-top: -60px;">Keep Reading</button>

                                    </li>
                                    <li class="list-group-item">
                                        <h5 style="color:blue;"><a>API 570 Preparatory Course – Piping Inspector Certification – 7 Days</a></h5>
                                        <h5>Jun 27 – Jul 03, 2020</h5>
                                        <h5> Dubai, UAE</h5>
                                        <button type="button" mdbBtn color="success" mdbWavesEffect style="margin-left: 500px;margin-top: -60px;">Keep Reading</button>

                                    </li>
                                </ul>
                            </tab>
                            <tab tabTitle="FAQ">

                            </tab>
                        </tabs>
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>
<app-aboutus></app-aboutus>
<router-outlet></router-outlet>