<div class="site-section" id="about-section" style="margin-top: 20px;">
    <div class="container">
        <div class="row align-items-lg-center">
            <div class="col-md-6 mb-5 mb-lg-0 position-relative">
                <img src="assets/images/image1.jpg" class="img-fluid" alt="Image">
                <div class="experience">
                    <mdb-card style="width: 300px; align-items: center;background-color: blue;margin-top: -70px;margin-left: 250px;">
                        <mdb-card-body style="color: white;font-size: 20px;">
                            10+ Years <br>of Experience Consultants
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
            <div class="col-md-5 ml-auto">
                <h3 class="section-sub-title">About Us</h3>
                <h2 class="section-title mb-3">Welcome To Vegascg</h2>
                <p class="mb-4" style="text-align: justify;">Vegas Consulting Group originated to provide Consulting, Training, and certification services to organizations globally. It also offers supportive solutions to other management standards. At VCG, we extensively provide ISO & API QMS based
                    management systems consultancy & certification support services, API Q1, API Q2 Consulting services, and training for individuals as well as for organizations, API preparatory audit and testing services.</p>
                <p><a href="# " class="btn btn-primary btn-black--hover ">Learn More</a></p>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
<app-testimonials></app-testimonials>