<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

    <!-- Navbar brand -->
    <!--<mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>-->
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#"><img src="assets/images/header_logo.png" style="width: 50%;"></a>
    </mdb-navbar-brand>


    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>HOME<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>CONSULTANCY</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    CERTIFICATION<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">ISO CERTIFICATION</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">API CERTIFICATION</a>

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>TRAINING</a>
            </li>

            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>CONTACT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>BLOG</a>
            </li>



        </ul>
        <!-- Links -->

        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link">
                    <mdb-icon fab icon="twitter"></mdb-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <mdb-icon fab icon="linkedin-in"></mdb-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <mdb-icon fab icon="facebook-f"></mdb-icon>
                </a>
            </li>
        </ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
<app-carousel></app-carousel>
<router-outlet></router-outlet>