<!-- Section: Testimonials v.4 -->
<section class="container text-center my-5 mt-5">
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Testimonials</h2>
    <!-- Grid row -->
    <div class="row">
        <!--Carousel Wrapper-->
        <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation testimonial-carousel" [type]="'carousel-multi-item'" [animation]="'slide'">
            <!--First slide-->
            <mdb-slide>
                <!--Grid column-->
                <div class="col-md-4">
                    <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto">
                            <img src="assets/images/person.png" class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4 class="font-weight-bold mt-4">Lorraine</h4>
                        <h6 class="blue-text font-weight-bold my-3">Manager</h6>
                        <p class="font-weight-normal">
                            <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>When compared to the struggle that my contemporaries with other organizations going through ISO 9001 face, I found Vegas Consulting Group very easy to work with. Thanks for all your help.</p>
                        <!--Review-->
                        <div class="grey-text">
                            <mdb-icon fas [icon]="i == 4 ? 'star-half' : 'star'" *ngFor="let star of stars; let i = index"></mdb-icon>
                        </div>
                    </div>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto">
                            <img src="assets/images/person.png" class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4 class="font-weight-bold mt-4">Kevin Irsch</h4>
                        <h6 class="blue-text font-weight-bold my-3">QHSE Manager</h6>
                        <p class="font-weight-normal">
                            <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Good consulting services to get API monogram certification compared to other companies. They have implemented a better quality process approach in our organization with deep insights. I would recommend Vegas Consulting
                            to oil and gas industries who are looking for an API monogram license.
                        </p>
                        <!--Review-->
                        <div class="grey-text">
                            <mdb-icon fas icon="star" *ngFor="let star of stars; let i = index"></mdb-icon>
                        </div>
                    </div>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto">
                            <img src="assets/images/person.png" class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4 class="font-weight-bold mt-4">Sylvain</h4>
                        <h6 class="blue-text font-weight-bold my-3">Manager</h6>
                        <p class="font-weight-normal">
                            <mdb-icon fas icon="quote-left" class="fas fa-quote-left pr-2"></mdb-icon>Vegas Consulting is one of the best API certification consultants for the oil and gas industry. Your team has brought tremendous value to my organization thereby establishing our QMS system to the next level. Huge
                            thank you to the team!</p>
                        <!--Review-->
                        <div class="grey-text">
                            <mdb-icon fas [icon]="i == 4 ? 'star-o' : 'star' " *ngFor="let star of stars; let i = index"></mdb-icon>
                        </div>
                    </div>
                </div>
                <!--Grid column-->
            </mdb-slide>
            <!--/First slide-->
            <!--Second slide-->
            <mdb-slide>
                <div class="col-md-4">
                    <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto">
                            <img src="assets/images/person.png" class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4 class="font-weight-bold mt-4">Jay Chappell
                        </h4>
                        <h6 class="blue-text font-weight-bold my-3">Head Of Quality Management</h6>
                        <p class="font-weight-normal">
                            <mdb-icon fas icon="quote-elft" class="pr-2"></mdb-icon>Better savings our time and money. The team at Vegas Consulting has assisted our company in obtaining API Spec Q2 certification. They have provided good insight into the development of our management system and understanding
                            of quality awareness.
                        </p>
                        <!--Review-->
                        <div class="grey-text">
                            <mdb-icon fas [icon]="i == 4 ? 'star-half' : 'star'" *ngFor="let star of stars; let i = index"></mdb-icon>
                        </div>
                    </div>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto">
                            <img src="assets/images/person.png" class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4 class="font-weight-bold mt-4">Bianca Hammound</h4>
                        <h6 class="blue-text font-weight-bold my-3">Managing Director</h6>
                        <p class="font-weight-normal">
                            <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>I found Vegas Consulting is a professional &amp; easy in implementing a management system and achieving a certificate compared with previous employment.
                        </p>
                        <!--Review-->
                        <div class="grey-text">
                            <mdb-icon fas icon="star" *ngFor="let star of stars; let i = index"></mdb-icon>
                        </div>
                    </div>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto">
                            <img src="assets/images/person.png" class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4 class="font-weight-bold mt-4">Jayden Lee</h4>
                        <h6 class="blue-text font-weight-bold my-3">Lead-Management Representative</h6>
                        <p class="font-weight-normal">
                            <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>
                            We were overwhelmed with the collaboration, dedication, and insightful consultation we received from Vegas Consulting throughout the standards in API monogram & API Q1 certification. We highly recommend Vegas for the petroleum and natural gas industries</p>
                        <!--Review-->
                        <div class="grey-text">
                            <mdb-icon fas [icon]="star == 4 ? 'star-o' : 'star'" *ngFor="let star of stars; let i = index"></mdb-icon>
                        </div>
                    </div>
                </div>
                <!--Grid column-->
            </mdb-slide>
            <!--/Second slide-->
            <!--Third slide-->
            <mdb-slide>
                <!--Grid column-->
                <div class="col-md-4">
                    <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto">
                            <img src="assets/images/person.png" class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4 class="font-weight-bold mt-4">Wang Lei</h4>
                        <h6 class="blue-text font-weight-bold my-3">Quality Compliance Manager</h6>
                        <p class="font-weight-normal">
                            <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Vegas Consulting is one of the best API certification consultants for the oil and gas industry. Your team has brought tremendous value to my organization thereby establishing our QMS system to the next level. Huge
                            thank you to the team!
                        </p>
                        <!--Review-->
                        <div class="grey-text">
                            <mdb-icon fas icon="star" *ngFor="let star of stars; let i = index"></mdb-icon>
                        </div>
                    </div>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto">
                            <img src="assets/images/person.png" class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4 class="font-weight-bold mt-4">Cintia Le Corre</h4>
                        <h6 class="blue-text font-weight-bold my-3">Partner & Managing Director</h6>
                        <p class="font-weight-normal">
                            <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>When you are in the financial industry you know the image you have to project to people. You have to be agile and authoritative; Vegas lets us show clients that we are slick yet also have substance.</p>
                        <!--Review-->
                        <div class="grey-text">
                            <mdb-icon fas [icon]="star == 4 ? 'star-half' : 'star'" *ngFor="let star of stars; let i = index"></mdb-icon>
                        </div>
                    </div>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto">
                            <img src="assets/images/person.png" class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4 class="font-weight-bold mt-4">Jason Smith</h4>
                        <h6 class="blue-text font-weight-bold my-3">Compliance Audit Manager</h6>
                        <p class="font-weight-normal">
                            <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>I really enjoyed this class from Vegas Consulting. Thanks for giving me a better understanding of API Spec Q1 &amp; other aspects of the quality management system. The outstanding facility for training with comfort
                            and great accommodations.
                        </p>
                        <!--Review-->
                        <div class="grey-text">
                            <mdb-icon fas [icon]="star == 4 ? 'star-o' : 'star'" *ngFor="let star of stars; let i = index"></mdb-icon>
                        </div>
                    </div>
                </div>
                <!--Grid column-->
            </mdb-slide>
            <!--/Third slide-->
        </mdb-carousel>
        <!--/.Carousel Wrapper-->
    </div>
    <!-- Grid row -->
</section>
<!-- Section: Testimonials v.4 -->
<router-outlet></router-outlet>
<app-card></app-card>